
/*-- scss:defaults --*/

$lightblue: #5590B4;
$darkblue: #003049;
$offwhite: #F2F2F8;
$brickred: #B51727;

$teal: #20c997;
$cyan: #029acf;
$red: #d9230f;

$primary: $lightblue;
$navbar-hl: $brickred;

$navbar-bg: $offwhite;
$navbar-fg: $darkblue;
$content-padding-top: 1rem;
$bs-nav-link-padding-y: 0rem;


$font-size-root: 1rem;


/*-- scss:rules --*/

// typography

#quarto-header {
    font-size: 1.0625rem !important;
}

.paper-link {
    font-weight: bold;
}

.my-name {
    font-weight: bold;
    font-size: 105%;
}

.navbar-title {
    font-weight: 700; 
    font-family: 'Inter', $font-family-sans-serif;
    @include media-breakpoint-down(sm){
        letter-spacing: -.05em;
    }
}



// spacing

.opening-lines p {
    margin-bottom: 1.5rem;
}

.cv {
    h3 {
        margin-bottom: 1rem;
        font-size: x-large;
    }
}


.education {
    ul li {
        margin-bottom: 0.8rem;
    }
      
    ul li:last-child {
        margin-bottom: 0;
    }
}

.events { 
    ul:not(ul ul) {
        list-style-type: none;
        padding-left: 0rem;
    }
  
    ul ul {
        margin-top: .3rem;
        margin-bottom: .5rem;
        list-style-type: disc;
        li {
            font-size: medium;
        }
    }

    ul li {
        margin-bottom: 0.2rem;
    }

    ul > li {
        font-size: large;
    }
}

.about-contents {
    padding-top: .5rem !important;
}

// navbar hover animation

.nav-link:not(:has(.menu-text .google-scholar)):not(:has(.menu-text #mail-link)) {
    @include media-breakpoint-up(lg) {
        text-decoration: none;
        position: relative;   
        
        ::after {
            content: "";
            position: absolute;
            left: 50%;
            bottom: 0.75rem;
            height: 0.125rem;
            width: 0;
            background-color: currentColor;
            transition: width 0.3s ease, left 0.3s ease;
            transform: translateX(-50%);
        }
        
        :hover::after {
            width: 75%;
        }
    }
}


// image responsivity

.about-entity {
    @include media-breakpoint-down(lg){
        width: 100%;
        background-size: contain;
        background-position: 30% 32%; 

        max-width: 380px;
        max-height: 380px;
        aspect-ratio: 1 / 1;
        flex-shrink: 1 !important;
        flex-grow: 0;

        margin-bottom: 0em !important;
        margin: 0 auto;
    }    
    @include media-breakpoint-up(lg) {
        background-size: contain !important;
        background-position: top right !important;
    }
}


.quarto-about-broadside {
    @include media-breakpoint-up(lg) {
        padding-top: 32px !important;
    }
    @include media-breakpoint-down(lg) {
        padding-top: 16px !important;
    }
}

// hide footnotes

  
  #quarto-appendix.default {
      border-top: none !important;
      display: none !important;
  }
